.contact-page {
  background: var(--bg-contacts);
}

.contact-page-content {
  margin-top: 5vh;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em 0;
}

.social-links-container,
.contact-form-container {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  font-family: 'Montserrat Alternates-Light', sans-serif;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0.5rem;
}

.form-control input,
.form-control textarea {
  color: #000;
  padding: 0;
}

.btn-submit {
  margin: 8px 0;
}

.contacts__list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.contacts__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  color: var(--text);
  font-size: 18px;
  text-decoration: none;
  border: 2px solid #e0e0e0dc;;
  border-radius: 50%;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: background-color 0.5s, opacity 0.5s 0.2s, -webkit-transform 0.5s ease 0.2s;
  transition: background-color 0.5s, opacity 0.5s 0.2s, -webkit-transform 0.5s ease 0.2s;
  transition: background-color 0.5s, transform 0.5s ease 0.2s, opacity 0.5s 0.2s;
  transition: background-color 0.5s, transform 0.5s ease 0.2s, opacity 0.5s 0.2s, -webkit-transform 0.5s ease 0.2s;
}

.contacts__link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contacts__link:hover, .contacts__link:hover.scroll-show {
  background-color: var(--text);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.contacts__link:hover,
.contacts__link:hover.scroll-show::before {
  color: var(--text-subtitle);
}

// .contacts__link-icon {
//   position: absolute;
//   top: 11px;
//   left: 10px;
// }

.contacts__link-ref {
  color: var(--text);
  margin: 1rem 0 0 0.5rem;
}

.contacts__link-ref:hover {
  color: var(--text-subtitle);
}
