.contact-page-content {
  margin-top: 5vh;
}

.contact-content {
  width: 100%;
  margin: auto;
}

.contact-content .conteiner {
  margin: 0 auto;
}

mat-form-field {
  font-family: 'Montserrat Alternates-Light', sans-serif;
}
