<section class="contact-page" id="contact">

  <div class="container contact-page-content">
    <h2 class="title">Contact</h2>
    <h3 class="subtitle">Get in touch</h3>
  </div>

  <div class="contact-content">
    <div class="social-links-container" [@scaleAnimation]="state">
      <ul class="contacts__list">
        <li>
          <a class="contacts__link" href="mailto:mpg2000@mail.ru" target="_blank" title="mpg2000@mail.ru">
            <fa-icon class="contacts__link-icon" size="1x" [icon]="faEnvelope"></fa-icon>
          </a>
          <a class="contacts__link-ref" href="mailto:mpg2000@mail.ru" target="_blank" title="mpg2000@mail.ru">mpg2000@mail.ru</a>
        </li>
        <li>
          <a class="contacts__link" href="tel:+375257055521" target="_blank" title="+375257055521">
            <fa-icon class="contacts__link-icon" size="1x" [icon]="faPhone"></fa-icon>
          </a>
          <a class="contacts__link-ref" href="tel:+375257055521" target="_blank" title="+375257055521">+375 25 705-55-21</a>
        </li>
        <li>
          <a class="contacts__link" href="https://t.me/SiarheiTamkoich" target="_blank" title="@SiarheiTamkoich">
            <fa-icon class="contacts__link-icon" size="1x" [icon]="faPaperPlane"></fa-icon>
          </a>
          <a class="contacts__link-ref" href="https://t.me/SiarheiTamkoich" target="_blank" title="@SiarheiTamkoich">@SiarheiTamkoich</a>
        </li>
        <li>
          <a class="contacts__link" href="https://discordapp.com/users/884029926171344896" target="_blank" title="SiarheyTamkovich#4830">
            <fa-icon class="contacts__link-icon" size="1x" [icon]="faDiscord"></fa-icon>
          </a>
          <a class="contacts__link-ref" href="https://discordapp.com/users/884029926171344896" target="_blank" title="SiarheyTamkovich#4830">SiarheyTamkovich#4830</a>
        </li>
        <li>
          <a class="contacts__link" href="https://www.linkedin.com/in/сергей-тамкович-3b6a3323b" target="_blank" title="Сергей Тамкович">
            <fa-icon class="contacts__link-icon" size="1x" [icon]="faLinkedinIn"></fa-icon>
          </a>
          <a class="contacts__link-ref" href="https://www.linkedin.com/in/сергей-тамкович-3b6a3323b" target="_blank" title="Сергей Тамкович">Сергей Тамкович</a>
        </li>
        <li>
          <a class="contacts__link" href="https://github.com/SiarheiTamkoich" target="_blank" title="github.com/SiarheiTamkovich">
            <fa-icon class="contacts__link-icon" size="1x" [icon]="faGithub"></fa-icon>
          </a>
          <a class="contacts__link-ref" href="https://github.com/SiarheiTamkoich" target="_blank" title="github.com/SiarheiTamkovich">github.com/SiarheiTamkovich</a>
        </li>
      </ul>
    </div>

    <div class="contact-form-container" [@scaleAnimation]="state">
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <h4>Send me a message</h4>

        <mat-form-field class="form-control">
          <mat-label>Enter your email</mat-label>
          <input matInput [formControl]="email" placeholder="email@example.com"/>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="form-control">
          <mat-label>Enter you name</mat-label>
          <input type="text" matInput [formControl]="name"/>
          <mat-error *ngIf="name.invalid">Please enter your name</mat-error>
        </mat-form-field>

        <mat-form-field class="form-control">
          <mat-label>You message</mat-label>
          <textarea class="form-control"  matInput [formControl]="message"></textarea>
          <mat-error *ngIf="message.invalid">Please enter your message</mat-error>
        </mat-form-field>

        <button type="submit" class="btn btn-primary btn-submit" [disabled]="!form.valid">Submit</button>

      </form>
    </div>
  </div>
</section>
