<section class="portfolio-page" id="portfolio">
  <app-portfolio-icons></app-portfolio-icons>
  <div class="container portfolio-page-content">
    <h2 class="title">Portfolio</h2>
    <h3 class="subtitle">My works</h3>
    <div class="button-container">
      <fa-icon
        *ngIf="!isSettingPanelActive"
        [ngClass]="isSettingPanelActive ? 'setting-toggle active' : 'setting-toggle'"
        size="1x"
        [icon]="faFilter"
        title="Open filters"
        (click)="openSettingPanel()">
      </fa-icon>
      <fa-icon
        *ngIf="isSettingPanelActive"
        [ngClass]="isSettingPanelActive ? 'setting-toggle active' : 'setting-toggle'"
        size="1x"
        [icon]="faFilterCircleXmark"
        title="Close filters"
        (click)="openSettingPanel()">
      </fa-icon>
      <fa-icon
        *ngIf="!isSortItems"
        [ngClass]="isSettingPanelActive ? 'setting-toggle active' : 'setting-toggle'"
        size="1x"
        [icon]="faArrowDownShortWide"
        title="Sort items from newest to oldest"
        (click)="sortItems()">
      </fa-icon>
      <fa-icon
        *ngIf="isSortItems"
        [ngClass]="!isSettingPanelActive ? 'setting-toggle active' : 'setting-toggle'"
        size="1x"
        [icon]="faArrowUpWideShort"
        title="Sort items from oldest to newest"
        (click)="sortItems()">
      </fa-icon>
    </div>
    <div [ngClass]="isSettingPanelActive ? 'setting-panel active' : 'setting-panel'">
      <span
        [ngClass]="filter.isReact ? 'filter-btn active' : 'filter-btn'"
        (click)="setFilter(filterName.react)"
        >
        React
      </span>
      <span
        [ngClass]="filter.isAngular ? 'filter-btn active' : 'filter-btn'"
        (click)="setFilter(filterName.angular)"
        >
        Angular
      </span>
      <span
        [ngClass]="filter.isWebpack ? 'filter-btn active' : 'filter-btn'"
        (click)="setFilter(filterName.webpack)"
        >
        Webpack
      </span>
      <span
        [ngClass]="filter.isNodeJS ? 'filter-btn active' : 'filter-btn'"
        (click)="setFilter(filterName.nodejs)"
        >
        NodeJS
      </span>
    </div>
    <app-portfolio-card [projects]="projects"></app-portfolio-card>
  </div>
</section>
