<section class="about-page">
  <h2 class="title">About Me</h2>
  <h3 class="subtitle">Objective</h3>
  <div class="container about-page-content">
    <div class="about__photo">
      <div class="about__photo-wrapper">
          <img src="../../../assets/img/photo1.png" alt="Siarhei Tamkovich photo" width="260px" height="260px">
      </div>
    </div>
    <div class="about__content">
      <p class="about__text">An energetic and imaginative web developer who is able to work alongside
        other talented IT professionals in creating websites to the very highest standards. 
        I has a high awareness of industry issues and trends, particularly in regard to accessibility, 
        usability, emerging technologies, and open source CMS. I is an ambitious type who wants to get noticed, 
        and has the drive and massive energy needed to really make a difference to a project. Right now 
        i is looking for an entry level position with an exciting company that wants to attract talented people.
      </p>
      <a class="btn" href=""
        target="_blank">Download CV</a>
    </div>
  </div>
</section>

