<header class="header-container" [ngClass]="{'sticky' : isSticky}">
  <app-theme-toggle></app-theme-toggle>
  <nav class="navbar-container">
    <ul class="navbar-menu">
      <li class="navbar-menu__item">
        <a class="navbar-menu__link">Home</a>
      </li>
      <li class="navbar-menu__item">
        <a class="navbar-menu__link">About</a>
      </li>
      <li class="navbar-menu__item">
        <a class="navbar-menu__link">Certificates</a>
      </li>
      <li class="navbar-menu__item">
        <a class="navbar-menu__link">Portfolio</a>
      </li>
      <li class="navbar-menu__item">
        <a class="navbar-menu__link">Experience</a>
      </li>
      <li class="navbar-menu__item">
        <a class="navbar-menu__link">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="burger-toggle"></div>
</header>
