<header class="header-container">
  <div class="light-toggle"></div>
  <nav class="navbar-container">
    <ul class="navbar-menu">
      <li class="navbar-menu__item">
        <a>Home</a>
      </li>
      <li class="navbar-menu__item">
        <a>Portfolio</a>
      </li>
      <li class="navbar-menu__item">
        <a>Experience</a>
      </li>
      <li class="navbar-menu__item">
        <a>About</a>
      </li>
      <li class="navbar-menu__item">
        <a>Contact</a>
      </li>
    </ul>
  </nav>
  <div class="burger-toggle"></div>
</header>
