<div class="light-toggle">
  <button class="theme-toggle" id="toggle" aria-label="Activate light mode" 
    title="Activate light mode" type="button"
    >
    <svg id="svg1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
      <mask id="moonClip">
        <rect x="0" y="0" width="25" height="25" fill="white"></rect>
        <circle cx="23" cy="12.5" r="13.5" fill="black"></circle>
      </mask>
      <circle id="moon" cx="12.5" cy="12.5" r="12.5" fill="#F8F0E4" mask="url(#moonClip)"></circle>
      <g fill-rule="evenodd">
        <circle id="sun" cx="12.5" cy="12.5" r="7" fill="#E12179"></circle>
        <circle id="beam1" cx="12.5" cy="23" r="2" fill="#E12179"></circle>
        <circle id="beam2" cx="3.5" cy="18" r="2" fill="#E12179"></circle>
        <circle id="beam3" cx="3.5" cy="7" r="2" fill="#E12179"></circle>
        <circle id="beam4" cx="12.5" cy="2" r="2" fill="#E12179"></circle>
        <circle id="beam5" cx="22.5" cy="7" r="2" fill="#E12179"></circle>
        <circle id="beam6" cx="21.5" cy="18" r="2" fill="#E12179"></circle>
      </g>
    </svg>
  </button>
</div>
