@import '../../../variables';

.homepage {
  background: url(../../../assets/img/home-bg.jpg) no-repeat center /cover var(--bg-blend-mode);
  background-attachment: fixed;
  background-blend-mode: color-burn; //multiply
  height: 100vh;
}

.homepage-content {
  text-align: center;
  margin-top: 20vh;
  padding: 0 2vw;
}

.homepage-content .hello {
  font-size: 1.5rem;
}

.homepage-content .name {
  font-size: 3rem;
  font-weight: bolder;
  margin: 10px 0;
}

.homepage-content .profession {
  font-size: 1.5rem;
}

.down-arrow {
  display: inline-block;
  font-size: 1.75rem;
  margin-top: 5em;
  transition: color .3s ease;
  -webkit-animation: arrow_bounce 2s ease infinite;
  animation: arrow_bounce 2s ease infinite;
  cursor: pointer;
}

@keyframes arrow_bounce {
  0%, 25%, 55%, 75%, 100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-20px);
  }
  65% {
    transform: translateY(-10px);
  }
  85% {
    transform: translateY(-5px);
  }
}
