.certificates-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  grid-gap: 40px;
  gap: 40px;
  padding: 20px;
}

.certificates__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  border: 2px solid #f7f7f7;
  border-radius: 15px;
  transform-style: preserve-3d;
}

.certificates__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #272341;
  opacity: 0;
  transition: 0.3s;
}

.certificates__card:hover::after {
  opacity: 0.9;
}

.certificates__card:hover .certificates__card-img img {
  transform: scale(1.2);
}

.certificates__card:hover .certificates__card-about {
  opacity: 1;
  transform: translate3d(0, 0, 40px);
}

.certificates__card:hover .certificates__card-description,
.certificates__card:hover .certificates__card-link {
  transform: translate(0, 0);
}

.certificates__card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.certificates__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.certificates__card-img img {
  object-position: left bottom;
}

.certificates__card-img img {
  object-position: right bottom;
}

.certificates__card-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  min-height: 300px;
  padding: 20% 10%;
  transform-style: preserve-3d;
  overflow: hidden;
  opacity: 0;
}

.certificates__card-title {
  margin-bottom: 10px;
  text-align: center;
}