.cover_cover__3B2nv {
  background: url(../assets/img/bg.webp);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: Ubuntu,sans-serif;
}

.cover_arrow__3-HUS {
  display: inline-block;
  font-size: 1.75rem;
  margin-top: 2.5em;
  transition: color .3s ease;
  -webkit-animation: cover_bounce__G4Y3O 2s ease infinite;
  animation: cover_bounce__G4Y3O 2s ease infinite;
}

@keyframes cover_bounce__G4Y3O {
  0%, 25%, 55%, 75%, 100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-20px);
  }
  65% {
    transform: translateY(-10px);
  }
  85% {
    transform: translateY(-5px);
  }
}