<fa-icon size="4x" [icon]="faFilm"></fa-icon>
<fa-icon size="4x" [icon]="faFan" [spin]="true"></fa-icon>
<fa-icon size="4x" [icon]="faFan" [pulse]="true"></fa-icon>
<fa-icon 
  size="4x" 
  [icon]="faFan" 
  [spin]="isAnimated"
  (click)="isAnimated=!isAnimated">
</fa-icon>
<mat-icon>keyboard_arrow_down</mat-icon>
<mat-icon>favorite</mat-icon>
<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"></path></svg>
<span class="typed-element">Fsfsfsfsfs</span>  

<section id="home" class="cover_cover__3B2nv">
  <div class="container cover_coverContent__2kU7f">
    <div class="cover_text1__2ETnV">Hello, my name is</div>
    <div class="cover_text2__3r4sq">Mazedul Islam</div>
    <div class="cover_text3__2hDc7">I'm a
      <div class="Typist typing-animation_inline__1XoR4 typing-animation_animatedText__2B8ks">
        <div class="typing-animation_inline__1XoR4"><span> </span></div>
        <div class="typing-animation_inline__1XoR4"><span> Web</span></div>
        <span class="Cursor Cursor--blinking">|</span>
      </div>
    </div>
      <a class="cover_arrow__3-HUS">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"></path></svg>
      </a>
  </div>
</section>

