<!-- https://www.angularjswiki.com/angular/how-to-use-font-awesome-icons-in-angular-applications/ -->

<fa-icon size="4x" [icon]="faFilm"></fa-icon>
<fa-icon size="4x" [icon]="faFan" [spin]="true"></fa-icon>
<fa-icon size="4x" [icon]="faFan" [pulse]="true"></fa-icon>
<fa-icon
  size="4x"
  [icon]="faFan"
  [spin]="isAnimated"
  (click)="isAnimated=!isAnimated">
</fa-icon>
<mat-icon>keyboard_arrow_down</mat-icon>
<mat-icon>favorite</mat-icon>
<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"></path></svg>

<!-- How to implement Intersection Observer API in Angular?
https://blog.prototyp.digital/how-to-implement-intersection-observer-api-in-angular/ -->

<article
  class="page-wrapper"
  fxLayout="column"
  fxLayoutAlign="_ center"
  fxLayoutGap="calc(var(--unit) * 8)"
>
  <mat-card
    class="example-card"
    *ngFor="let item of [].constructor(5); index as index"
    appObserveElement
    #intersection="intersection"
    [class.example-card--is-intersecting]="intersection._isIntersecting"
    (isIntersecting)="isIntersecting($event, index)"
    [isContinuous]="true"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct
        spitz breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</article>
