@font-face {
  font-family: Montserrat Alternates-Thin;
  src: url('../font/MontserratAlternates-Thin.ttf');
}

@font-face {
  font-family: Montserrat Alternates-Light;
  src: url('../font/MontserratAlternates-Light.ttf');
}

@font-face {
  font-family: Montserrat Alternates-Regular;
  src: url('../font/MontserratAlternates-Regular.ttf');
}

@font-face {
  font-family: Montserrat Alternates-Medium;
  src: url('../font/MontserratAlternates-Medium.ttf');
}


@font-face {
  font-family: Montserrat Alternates-Bold;
  src: url('../font/MontserratAlternates-Bold.ttf');
}

@font-face {
  font-family: Montserrat Alternates-Black;
  src: url('../font/MontserratAlternates-Black.ttf');
}
